@model UEditorNetCore.Model.Entity.Article
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>文章</title>
    <link rel="stylesheet" type="text/css" href="~/res/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="~/res/css/main.css">
    <!--加载meta IE兼容文件-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="header">
    </div>

    
    <div class="content whisper-content leacots-content details-content">
        <div class="cont w1000">
            <div class="whisper-list">
                <div class="item-box">
                    <div class="review-version">
                        <div class="form-box">
                            <div class="article-cont">
                                <div class="title">
                                    <h3>@Model.Title</h3>
                                    <p class="cont-info"><span class="data">@Model.UpdateTime</span><span class="types">散文札记</span></p>
                                </div>
                                <div id="articleContext">
                                    @Html.Raw(@Model.Context)
                                </div>
                                <div class="btn-box">
                                    <button class="layui-btn layui-btn-primary">上一篇</button>
                                    <button class="layui-btn layui-btn-primary">下一篇</button>
                                </div>
                            </div>
                            <div class="form">
                                <form class="layui-form" action="#">
                                    <div class="layui-form-item layui-form-text">
                                        <div class="layui-input-block">
                                            <textarea name="desc" placeholder="既然来了，就说几句" class="layui-textarea"></textarea>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block" style="text-align: right;">
                                            <button class="layui-btn ">确定</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="volume">
                            全部留言 <span>0</span>
                        </div>
                        <div class="list-cont">

                            <div class="cont">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../res/layui/layui.js"></script>
        <script type="text/javascript">
            layui.config({
                base: '~/res/js/util/'
            }).use(['element', 'laypage', 'form', 'menu'], function () {
                element = layui.element, laypage = layui.laypage, form = layui.form, menu = layui.menu;
                menu.init();
                menu.submit();
            })

            //$("#articleContext").append($("#ArticleContext").val())

        </script>
</body>
</html>
